.mainContainer{
    margin-left: 10%;
}


.cardContainer{
    margin-top: 30px;
}

.card {
    max-width: 390px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
    box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.3);
}
.card:hover{
    box-shadow: 0 16px 70px -12.125px rgba(0,0,0,0.3);
}

.buttonGroup{
    margin-top: 10px;
}

.button{
    margin-right: 20px;
}

.footer{
    text-align: center;
    bottom:0px;
}